* {
    -webkit-font-smoothing: antialiased;
}
.border-box,
a,
article,
aside,
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
legend,
li,
main,
nav,
ol,
p,
pre,
section,
table,
td,
textarea,
th,
tr,
ul {
    box-sizing: border-box
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
.bg-dark-gray {
    background-color: #333
}
.bg-washed-yellow {
    background-color: #fffceb
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px
}
.b--black-20 {
    border-color: rgba(0, 0, 0, .2)
}
.shadow-1 {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2)
}
.justify-center {
    justify-content: center
}
.flex {
    display: flex
}
.flex-wrap {
    flex-wrap: wrap
}
.ba {
    border-style: solid;
    border-width: 1px
}
.b--black-40 {
    border-color: rgba(0, 0, 0, .4)
}
.pa2 {
    padding: .5rem
}
.ma2 {
    margin: .5rem
}
.bg-moon-gray {
    background-color: #ccc
}
.pointer:hover,
.shadow-hover {
    cursor: pointer
}

.shadow-hover {
    position: relative;
    transition: all .5s cubic-bezier(.165, .84, .44, 1)
}

.shadow-hover:after {
    content: "";
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, .2);
    border-radius: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .5s cubic-bezier(.165, .84, .44, 1)
}

.shadow-hover:focus:after,
.shadow-hover:hover:after {
    opacity: 1
}

.vh-75 {
    height: 75vh
}
.w-100 {
    width: 100%
}
.items-center {
    align-items: center
}
.red {
    color: #ff4136
}
.pa3 {
    padding: 1rem
}
.f2 {
    font-size: 2.25rem
}
    
@media screen and (min-width:30em) {
    .f-6-ns,
    .f-headline-ns {
        font-size: 6rem
    }
    .w-50-ns {
        width: 50%
    }
}